

body
{
    padding-top: 50px;
    background-size: 100;
    background-repeat: no-repeat;
    background-color: #e9e9e9;
    color: #222222;
}

.starter-template
{
    padding: 40px 15px;
    text-align: center;
}

null
{
    width: 150px;
}

.btn
{
    background-color: #18aa46;
    font-size: 18px;
    color: white;
    line-height: 150%;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 80%;
    font-style: normal;
    font-weight: bold;
}

.btn:hover
{
    background-color: white;
    font-size: 18px;
    color: #18aa8d;
}

#form
{
    background-color: rgba(157, 157, 157, 0.42);
    border-radius: 15px;
    padding: 20px 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 27px;
}

.image
{
}

#pic
{
    border-radius: 10px;
    background-image: url('picture/phoenix%2520club1.png');
}

#name
{
    font-size: 20px;
}

