

body
{
    padding-top: 50px;
    background-image: url('http://127.0.0.1:40000/file:///home/timodz/Pictures/images/gradient_800x600.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: 100%;
}

.starter-template
{
    padding: 40px 15px;
    text-align: center;
}

null
{
    width: 150px;
}

.btn
{
    width: 150px;
}

